$header-height: 70px;
$double-header-height: $header-height * 2;
$triple-header-height: $header-height * 2.5;

body {
    overflow-x: hidden;

    & > header {
        @include box-shadow(1px, 1px, 3px, #aaaaaa);
        background-color: $dark-bg;

        @media #{$large-up} { height: $header-height; }
        @media #{$small-only} { height: $triple-header-height; }
        height: $double-header-height;

        @media #{$large-up} { line-height: $header-height; }
        line-height: $header-height * 0.8;

        margin-bottom: 10px;

        @media #{$small-only} { padding-top: 1rem; }

        @media #{$large-up} { text-align: initial; }
        text-align: center;

        .logo {
            @media #{$small-only} { background: none; }
            background: { image: url('/img/logo.png'); repeat: no-repeat; position: left center; }
            display: inline-block;
            font: { size: 1.1rem; weight: bold; }

            @media #{$small-only} { line-height: 1.4rem; }

            @media #{$large-up} { margin-top: 0; }
            margin-top: $header-height * 0.2;

            @media #{$small-only} { padding-left: 0; }
            padding-left: 50px;

            a { color: #525252; }
        }

        .auth {
            display: inline-block;

            @media #{$large-up} { float: right; }

            @media #{$small-only} { line-height: 1rem; }

            & > span {
                margin-right: 10px;

                @media #{$small-only} { display: block; }
                @media #{$small-only} { margin-bottom: 10px; }
                @media #{$small-only} { width: 100%; }
            }
        }
    }
}

label {
    small.error {
        margin-top: -1rem;
    }
}