$header-height: 70px;
$double-header-height: $header-height * 2;

body {
    & > header {
        background-color: #eeeeee;
        box-shadow: 1px 1px 3px #aaaaaa;

        @media #{$large-up} { height: $header-height; }
        height: $double-header-height;

        @media #{$large-up} { line-height: $header-height; }
        line-height: $header-height * 0.8;

        margin-bottom: 10px;

        @media #{$large-up} { text-align: initial; }
        text-align: center;

        .logo {
            background: { image: url('/img/logo.png'); repeat: no-repeat; position: left center; }
            display: inline-block;
            font: { size: 1.1rem; weight: bold; }

            @media #{$large-up} { margin-top: 0; }
            margin-top: $header-height * 0.2;

            padding-left: 50px;

            a { color: #525252; }
        }

        .auth {
            display: inline-block;

            @media #{$large-up} { float: right; }

            & > span { margin-right: 10px; }
        }
    }
}