.publication {

    label {
        @media #{$large-up} {
            @include form-label(inline, false);
            @include form-label(right, false);
        }
    }

    .sections > section {
        margin-top: 2rem;
    }

    $members-margin: 15px;
    .groups { margin-top: $members-margin; }
    .groups { @media #{$large} { margin-top: 0; } }
    .members.row { margin-top: $members-margin; }

    .submit { margin-top: 30px; }
}
