.slidable {
    @include box-shadow(1px, 1px, 3px, #aaaaaa);
    @include border-radius(5px);

    background-color: $dark-bg;
    border: solid 1px #cccccc;
    position: fixed;
    left: 100%;
    margin: 10px auto;
    padding: 1rem 2rem 0 2rem;
    right: 0;
    transition: all .4s ease-in-out;
    visibility: hidden;
    z-index: 1;

    &.visible {
        left: 0;
        visibility: visible;
    }
}