<div class="row">
    <div class="small-12 columns hidden" id="content">

        <section class="new-publication">

            <div class="row">
                <div class="small-12 large-3 columns">
                    <label for="new-publication-name">Publication Name:</label>
                </div>
                <div class="small-12 large-7 end columns">
                    <input type="text" class="name" id="new-publication-name">
                </div>
            </div>

            <div class="row">
                <div class="small-12 large-3 columns">
                    <label for="new-publication-description">Publication Description:</label>
                </div>
                <div class="small-12 large-7 end columns">
                    <textarea class="description" id="new-publication-description"></textarea>
                </div>
            </div>

            <section class="sections">

                <section class="section">
                    <div class="row">
                        <div class="small-12 large-10 end text-right columns">
                            <div class="tiny radius remove-section button">Remove this section</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 large-3 columns">
                            <label>Section Title:</label>
                        </div>
                        <div class="small-12 large-7 end columns">
                            <input type="text" class="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 large-3 columns">
                            <label>Section Description:</label>
                        </div>
                        <div class="small-12 large-7 end columns">
                            <textarea class="description"></textarea>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="small-12 large-10 end columns text-right">
                        <div class="tiny button radius add-section">Add new section</div>
                    </div>
                </div>

            </section>

        </section>

    </div>
</div>