<div class="row">
    <div class="small-12 columns content">
        <br>
        {{#each publications}}
            <a class="tiny button" style="width: 100%; text-align: center;" href="/pub/{{_id}}">
                {{name}}
            </a>
        {{/each}}
    </div>
</div>