<div class="row">
    <div class="smal-12 columns text-center">
        <div>Your work was submitted</div>
        <a class="tiny button" href="/publications">Back to Publications</a>
    </div>
</div>