{{> user_upsert_form }}

<div class="row">
    <div class="small-12 columns" id="content">

        <div class="tiny button radius new-user">Create New User</div>

        <div id="user-list"></div>

        {{> pagination this.userPagination link='/user-manager' }}

    </div>
</div>

<script>
    var users = {{{ users }}};
</script>