<header>
    <div class="row">
        <div class="small-12 large-6 columns">
            <div class="logo">
                <a href="/">University Document Management System</a>
            </div>
        </div>
        <div class="small-12 large-6 columns">
            <div class="auth">
                <span>You are not logged in.</span>
                <div class="tiny button radius login-button">Log in</div>
            </div>
        </div>
    </div>
</header>