 <dialog open class="small-12 medium-4 columns slidable login-form">
    <div class="row">
        <div class="small-12 columns">
            <label>
                User ID:
                <input type="text">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                Password:
                <input type="password">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <div class="tiny radius submit button">OK</div>
            <div class="tiny radius hide-slidable button">Cancel</div>
        </div>
    </div>
 </dialog>