{{#if ID}}
<nav id="navigation-menu">
    <ul>
        <li>
            <a href="/">
                <i class="fi-home"></i>
                <span>Homepage</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Menu item 2</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Menu item 3</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Menu item 4</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Menu item 5</span>
            </a>
        </li>
    </ul>
</nav>

<img src="/img/menu.png" class="menu-icon">
{{/if}}