<dialog open class="small-12 medium-5 columns user-upsert slidable">
    <input type="hidden" class="_id">
    <div class="row">
        <div class="small-12 columns">
            <label>
                User ID:
                <input type="text" class="user-id">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                User Role:
                <select class="user-role"></select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                User Group:
                <select class="user-group">
                    <option value="new">New Group</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                Group Name:
                <input type="text" class="user-new-group">
            </label>
        </div>
    </div>
    <div class="invisible success create row">
        <div class="small-12 text-center columns">
            New user was created. Generated password: <span class="user-password"></span>
        </div>
    </div>
    <div class="invisible success update row">
        <div class="small-12 text-center columns">
            User data was updated
        </div>
    </div>
    <div class="row">
        <div class="small-12 text-center columns">
            <div class="small tiny radius submit button">OK</div>
            <div class="small tiny radius cancel hide-slidable button">Cancel</div>
            <div class="small tiny radius close hide-slidable button">Close</div>
        </div>
    </div>
</dialog>