<dialog open class="small-12 medium-5 columns user-upsert slidable">
    <div class="row">
        <div class="small-12 columns">
            <label>
                User ID:
                <input type="text" class="user-id">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                User Role:
                <select class="user-role">
                    <option value="1">Dummy Role 1</option>
                    <option value="2">Dummy Role 2</option>
                    <option value="3">Dummy Role 3</option>
                    <option value="4">Dummy Role 4</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                User Group:
                <select class="user-group">
                    <option value="new">New Group</option>
                    <option value="dummy group 1">Dummy Group 1</option>
                    <option value="dummy group 2">Dummy Group 2</option>
                    <option value="dummy group 3">Dummy Group 3</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>
                Group Name:
                <input type="text" class="user-new-group">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 text-center columns">
            <div class="small tiny radius submit button">OK</div>
            <div class="small tiny radius update button">OK</div>
            <div class="small tiny radius hide-slidable button">Cancel</div>
        </div>
    </div>
</dialog>