<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Sample App</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.5.3/core/css/jquery.mmenu.all.css">
    <script src="/js/config.js"></script>
    {{> main_script }}
</head>
<body>
    {{> header }}
    {{> login_form }}

    <main>
        {{> menu }}
        {{{body}}}
    </main>
</body>
</html>