<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Sample App</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
    {{> header }}

    <main>
        {{{body}}}
    </main>
</body>
</html>